*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    padding: 12px;
    background: repeating-linear-gradient(to top, rgba(240, 0, 0, 0.4), rgba(0,240,0,0.4) 78.15%, rgba(0, 0, 240, 0.4));
}

.weatherAppTop {
    display: flex;
    justify-content: space-between;
}

.weatherDescription {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 40%;

    img {
        width: 50%;
    }

    >div {
        font-size: 2rem;
    }
}

.weatherData {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    >div {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    img {
        width: 25%;
    }

    .dataTitle {
        font-size: 2rem;
    }
    .dataNumber {
        font-size: 1.5rem;
    }
}

.searchContainer {
    font-size: 1rem;
    display: flex;
    gap: 12px;
    input {
        background-color: rgba(0,0,0,0.2);
        height: 2rem;
        font-size: 1rem;
    }
    button {
        background-color: transparent;
        border-radius: 5px;
        padding: 3px 6px;
        font-size: 1rem;
    }
}

::placeholder {
    color: rgba(0,0,0,0.7)
}